################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VidlyReborn/App_Data/aspnet-VidlyReborn-20181222071327.mdf
/VidlyReborn/App_Data/aspnet-VidlyReborn-20181222071327_log.ldf
